<div class="registration-form">
  <button (click)="toggleForm()" class="rigister btn btn-primary">
    Register
  </button>

  <form>
    <div *ngIf="showForm" class="form-popup show">
      <span class="close" (click)="toggleForm()">&times;</span>
      <header style="background-color: blue">
        <h3 class="text-start">Register</h3>
      </header>
      <div class="row">
        <div class="col-4">
          <div class="photo-upload">
            <img
              src="https://tse4.mm.bing.net/th?id=OIP.WpnGIPj1DKAGo-CP64znTwHaHa&pid=Api&P=0&h=220"
              class="img-fluid rounded-top"
              alt=""
            />
            <div class="input-row">
              <label for="photoInput">Upload your photo</label>
              <input
                type="file"
                id="photoInput"
                (change)="onFileSelected($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-8 mt-3">
          <div class="form-fields">
            <div class="row">
              <div class="col-6">
                <input
                  type="text"
                  class="col-6 col-sm-3"
                  placeholder="First Name"
                  [(ngModel)]="firstName"
                  name="firstName"
                />
              </div>
              <div class="col-6">
                <input
                  type="text"
                  class="col-6 col-sm-3"
                  placeholder="Last Name"
                  [(ngModel)]="lastName"
                  name="lastName"
                />
              </div>
            </div>
            <div class="input-row">
              <input
                type="email"
                placeholder="Email"
                [(ngModel)]="email"
                name="email"
              />
            </div>
            <div class="input-row">
              <input
                type="tel"
                placeholder="Phone Number"
                [(ngModel)]="phoneNumber"
                name="phoneNumber"
              />
            </div>
            <div class="input-row">
              <label for="ageSlider">Age:</label>
              <mat-slider
                min="20"
                step="10"
                max="100"
                discrete="true"
                showTickMarks="true"
                style="width: 280px"
              >
                <input matSliderThumb [(ngModel)]="selectedvalue" />
              </mat-slider>
            </div>
            <div class="input-row">
              <select id="location" name="state">
                <option value="" disabled selected hidden>
                  Select your location
                </option>
                <option value="New York">New York</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago">Chicago</option>
                <option value="Houston">Houston</option>
                <option value="Miami">Miami</option>
              </select>
            </div>
            <div class="input-row">
              <select [(ngModel)]="country" name="country">
                <option value="" disabled selected hidden>
                  Select your country
                </option>
                <option value="New York">New York</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago">Chicago</option>
                <option value="Houston">Houston</option>
                <option value="Miami">Miami</option>
              </select>
            </div>
            <div class="input-row">
              <textarea
                placeholder="Address"
                [(ngModel)]="address"
                name="address"
              ></textarea>
            </div>
            <div class="input-row">
              <input
                type="text"
                placeholder="Tags"
                id="tags"
                [(ngModel)]="tagsInput"
                (keydown.enter)="addTag()"
              />
            </div>
            <div class="tags-container">
              <div class="tag" *ngFor="let tag of tags">
                {{ tag }}
                <span class="remove-tag" (click)="removeTag(tag)">&times;</span>
              </div>
            </div>
            <div id="sampleTagsContainer">
              <span class="badge badge-primary bg-primary square-badge"
                >cricket <span class="tag-remove">&times;</span></span
              >
              <span class="badge badge-primary bg-primary square-badge"
                >football <span class="tag-remove">&times;</span></span
              >
              <span class="badge badge-primary bg-primary square-badge"
                >hockey <span class="tag-remove">&times;</span></span
              >
            </div>
            <div class="input-row">
              <input
                type="checkbox"
                id="subscribe"
                [(ngModel)]="subscribeToNews"
                name="subscribeToNews"
              />
              <label for="subscribe">subscribe to newsletter</label>
            </div>
          </div>

          <div class="buttons">
            <button type="button" (click)="cancelForm()" class="c">
              Cancel
            </button>
            <button type="submit" (click)="submitForm()" class="b">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
