.registration-form {
  text-align: center;
  margin: 0;
  padding: 0;
}
.rigister {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: aqua; /* Blue color */
  font-size: 16px;
  width: 120px;
  height: 35px;
  padding-left: 30px;
  border: none;
}
.top {
  background-color: aqua;
}
.input-row input[type="file"] {
  font-size: 0; /* Or use opacity: 0; */
}
.form-popup.show {
  display: block;
  margin: 0;
  padding: 0;
}
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9;
  width: 500px;
}

.form-popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-popup input[type="text"],
.form-popup input[type="email"],
.form-popup input[type="tel"],
.form-popup textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.heading {
  align-items: flex-end;
  color: white;
  font-size: 20px;
}

.form-popup label {
  margin-bottom: 5px;
}

.form-popup .buttons {
  margin-top: 10px;
  border: none;
}
.form-popup .buttons .c {
  margin: 10px;
  border: none;
}
.form-popup .buttons .b {
  background-color: aqua;
  margin: 10px;
  border: none;
}
.input-row select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}
.input-row {
  margin-bottom: 10px; /* Adjust as needed */
}
.mat-slider {
  width: 500px;
}
.slider-value {
  display: inline-block;
  width: 150px;
  text-align: center;
}
.input-row label {
  margin-left: 8px; /* Adjust as needed */
}
.form-header {
  align-items: flex-start;
  width: 100%;
  background-color: blue;
}

.header-divider {
  flex: 1;
  height: 1px;
  width: 100%;
  height: 2px;
  background-color: rgb(73, 8, 170); /* Adjust color as needed */
}
.close {
  color: #aaa;
  float: right;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border: 2px solid #000;
  box-sizing: border-box;
  background-color: white;
}
.form-popup {
  background-color: white;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.remove-tag {
  cursor: pointer;
  margin-left: 5px;
  color: #888;
}

.remove-tag:hover {
  color: #555;
}
span {
  margin: 3px;
}
.square-badge {
  border-radius: 0; /* Remove border-radius */
}
