<app-navbar></app-navbar>
<body>
  <div class="profile-container">
    <div class="profile-photo">
      <h5 style="color: blue">Profile</h5>
      <img
        src="https://tse3.mm.bing.net/th?id=OIP.QaFslWx9PhIsV2lsIO6bpQHaFj&pid=Api&P=0&h=220"
        alt="Profile Photo"
      />
      <div class="photo-buttons">
        <button>Edit Photo</button>
        <button>Edit Profile</button>
      </div>
    </div>
    <div *ngFor="let user of userdata" class="user-info">
      <p>
        I'm {{ user.fristname }} {{ user.lastname }} and I'm
        {{ user.age }} years old.
      </p>
      <p>
        You can send your email to {{ user.gmail }}. I live in the state of
        {{ user.state }}.
      </p>
      <p>
        I like to play {{ user.hobby }}, and reading books. Please send me
        newsletters.
      </p>
      <p>Please reach out to me on my phone number: {{ user.phone }}</p>
      <button
        style="background-color: rgb(36, 123, 36); color: white; border: none"
      >
        I Agree
      </button>
    </div>
  </div>
</body>
